.container {
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    overflow: hidden;
    padding: 20px 8px;
    margin: 0 auto;
}

.timer {
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
    word-spacing: -.1em;
    margin: 40px 0;
}

.player-container {
    display: flex;
    justify-content: center;
}

.player {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.player>button {
    line-height: 1;
    padding: 8px;
}

.player-small-btn {
    width: 40px;
    height: 40px;
}

.player-big-btn {
    width: 80px;
    height: 80px;
}

.player-small-btn>svg {
    width: 24px !important;
}

svg {
    pointer-events: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.work>svg path {
    fill: red;
}

.break>svg path {
    fill: green;
}

.text-centered {
    text-align: center;
}

/*-----------------*/

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 2px;
    padding: 0.2em 1em;
    color: #663399;
    background-color: #ffffff;
    outline: none;
    text-transform: uppercase; 
}

button.selected {
    color: #663399;
    border-color: currentColor;
    background-color: white;
    font-weight: bold;
}