.page-container {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.topbar {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    z-index: 1000;
}

.topbar::after {
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
}

.topbar-inner {
    margin: 0px auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 0 auto;
    max-width: 960;
    padding: 1.45rem 1rem;
}

.box {
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    overflow: hidden;
    padding: 20px 8px;
    margin: 1rem auto;
}

.timer {
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
    word-spacing: -.1em;
    margin: 40px 0;
}

.player-container {
    display: flex;
    justify-content: center;
}

.player {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.player>button {
    line-height: 1;
    padding: 8px;
}

.player-small-btn {
    width: 40px;
    height: 40px;
}

.player-big-btn {
    width: 80px;
    height: 80px;
}

svg {
    pointer-events: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
}

.btn-item {
    padding: 0 8px;
}

button.selected {
    border-color: currentColor;
    font-weight: bold;
}
